$navbar-height: 4rem;

$navbar-item-img-max-height: 4rem;

$footer-background-color: #e0e5da;

$panel-heading-background-color: #4286f4;

$tabs-toggle-link-border-width: 3px;

$panel-heading-color: white;