.facebook{
    text-decoration: none;
    color: #3b5999;

}
.facebook :hover{
    text-decoration: none;
    color: #3b5999;
    
    
}

.twitter{
    text-decoration: none;
    color: #55acee;
    
    
}
.twitter :hover{
    text-decoration: none;
    color: #55acee;
    
    
}
.youtube{
    color: #cd201f;
    text-decoration: none;
    
}
.youtube :hover{
    color: #cd201f;
    text-decoration: none;
    
}

.social{
    
}

.navbarimg{
    border-radius: 50%;
}